body {
    background-color: #ddd;
}
#top-content {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
header {
    background-color: #fff;
    width: 960px;
    margin: 0 auto;
}
#heading1, #heading2  {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    color: #fff;
    font-weight: bold;
    float: left; 
    padding: 1.25em;
    font-size: 1.25em;
}
nav {
    float: right; 
    padding: 1.25em;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
}
ul li {
    display: inline;
}
ul li a{
    text-decoration: none;
    padding: 1em;
    color: #777;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
main {
    clear: both; 
    width: 960px;
    margin: 1em auto;
    background-color: #fff; 
}
#heading2 {
    color: #4aaaa5;
    background-color: #fff;
}
#bio {
    line-height: 24px;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    padding: 1em 1.25em;
}

#tunjiImg {
    float: left;  
    padding: 0 1em 0 0; 
}
footer {
    margin-top: 126px;
    position: absolute;
    bottom: 0px; 
    background-color: #666;
    text-align: center; 
    color: #fff;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    padding: 1.25em;  
    border-top:  5px solid #4aaaa5; 
    width: 100%;
}

hr {
    clear: both;
    width: 95%;
    border: 1px solid #ddd; 
}

a:hover {
    color: #4aaaa5;
}

input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
   
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.25em;
}

input[type=submit]:hover {
    background-color: #ddd;
}
form {
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    padding: 2em;
    width: 70%;
    margin: 0 auto;
    color: #777;
}
.myImgs {
    width: 26%;
    height: auto;
   
}
.imgContainer {
   margin: 24px 0 0 24px;
}