#topicLabel {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    margin: 0.3em;
}

body {
    font-family: 'Julius Sans One', sans-serif;
    /* background-image: url("assets/images/texturez.png"); */
}

.topic_Button {
    margin: 5px;
}

#main {
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    /* width: 640px; */
    width: 100%;
    background-color: lightgray;
    padding: 1em;
}

h2 {
    margin-bottom: 0.5em;
}

/* #imageSection {
    border-top: 0.05em solid #000;
} */

.topicImgHolder {
    /* max-width: 200px;
    height: auto; */
    max-height: 200px;
    width: auto;
    /* width: 100%; */
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

/* .topicImgHolder>img {
        margin: 10px;
    } */

.topic_Image {
    margin-right: 20px;
}

#imgContainer {
    background-color: rgba(220, 220, 220, 0.1);
}

form {
    margin-bottom: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    width: 25%;
}

footer {
    margin-top: 126px;
    position: relative;
    bottom: 0px; 
    background-color: #666;
    text-align: center; 
    color: #fff;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    padding: 1.25em;  
    border-top:  5px solid #4aaaa5; 
    width: 100%;
}