#topicLabel {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    margin: 0.3em;
}

body {
    font-family: 'Julius Sans One', sans-serif;
}

.topic_Button {
    margin: 5px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: lightgray;
    padding: 1em;
}

h2 {
    margin-bottom: 0.5em;
}

.topicImgHolder {
    max-height: 200px;
    width: auto;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.topic_Image {
    margin-right: 20px;
}

#imgContainer {
    background-color: rgba(220, 220, 220, 0.1);
    min-height: 380px;
    margin-bottom: 100px;
}

form {
    margin-bottom: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    width: 25%;
}

main {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #666;
    text-align: center;
    color: #fff;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    padding: 1.25em;
    border-top: 5px solid #4aaaa5;
    width: 100%;
}